<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Assets/css/home.css" />
    <script src="https://developers.vietbando.com/V2/Scripts/vietbandomapsapi.js?key=d5047e60-f15f-419f-9e42-1700a7a97e60"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="logo-text">
        <a href="/OGNL/" class="logo">
            <div class="logo-img"></div>
            <div class="logo-title">
                <span>
                    Cổng Dịch Vụ Công Đất Đai Sở Tài Nguyên Và Môi Trường TP Hồ Chí Minh
                </span>
            </div>
        </a>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
